html, body, h1, h2, h3, p, ol, ul, li, a {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  padding: 20px;
}

h1 {
  color: #7facaa;
  margin: 10px 0 15px 0;
}

h2 {
  color: #7facaa;
  margin: 10px 0 20px 0;
}

h3 {
  color: #7facaa;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 3px;
}

ul {
  padding: 0 0 0 50px;
}

ol {
  padding: 0 0 0 50px;
}

.nav {
  padding-left: 0;
}

.nav li {
  display: inline;
}

.nav a {
  color: #0000af;
  text-decoration: none;
}

.recipes {
  list-style-type: none;
  padding: 0;
}

.recipes li {
  border: 1px solid #b56663;
  padding-left: 15px;
  margin-bottom: 10px;
}

.recipes h3 {
  border-bottom: 0;
}

.recipes a {
  color: #7facaa;
  text-decoration: none;
}

