html, body, h1, h2, h3, p, ol, ul, li, a {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  padding: 0 0 0 0;
}

h1 {
  color: #ffffff;
  margin: 0 0 15px 0;
  text-align: center;
}

h2 {
  color: #7facaa;
  margin: 10px 0 20px 0;
  text-align: center;
}

h3 {
  color: #7facaa;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 3px;
}

ul {
  padding: 0 0 0 50px;
}

ol {
  padding: 0 0 0 50px;
}

.header {
  padding: 10px 10px 10px 10px;
  background-color: #b56663;
}

.header a {
  color: #ffffff;
}

.header img {
  display: block;
  margin: 0 auto 15px auto;
}

.main-content {
  width: 500px;
  padding: 20px 20px 20px 20px;
  border: 1px solid #dddddd;
  margin: 30px auto 0 auto;
}

.nav {
  padding-left: 0;
  margin: 5px 0 20px 0;
  text-align: center;
}

.nav li {
  display: inline;
}

.nav a {
  color: #0000af;
  text-decoration: none;
}

.recipes {
  list-style-type: none;
  padding: 0;
}

.recipes li {
  border: 1px solid #b56663;
  padding-left: 15px;
  margin-bottom: 10px;
}

.recipes h3 {
  border-bottom: 0;
}

.recipes a {
  color: #7facaa;
  text-decoration: none;
}

.photos {
  list-style-type: none;
  padding: 0;
}

.photos li {
  display: inline;
  padding-left: 11px;
}

